<h1 mat-dialog-title>Add Url Information</h1>
<div mat-dialog-content class="box-color">
   <form [formGroup]="UrlListData">
    <mat-form-field appearance="standard">
        <mat-label>ID</mat-label>
        <input matInput formControlName="id" required>
    </mat-form-field>
    <mat-form-field appearance="standard">
        <mat-label>From</mat-label>
        <input matInput formControlName="from" required>
    </mat-form-field>
    <mat-form-field appearance="standard">
        <mat-label>To</mat-label>
        <input matInput formControlName="to" required>
    </mat-form-field>
    <mat-form-field appearance="standard">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="crDate" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <!-- <mat-form-field appearance="standard">
        <mat-label>Permanant Link</mat-label>
        <input matInput formControlName="url" required>
    </mat-form-field> -->
    <div style="margin-bottom:10px;">
        <button mat-raised-button color="primary" style="margin-right:15px;" (click)="onSubmit()">Save</button>
        <button mat-raised-button [mat-dialog-close]="true">Cancel</button>
    </div>
   </form>
</div>
