<p>create-employee works!</p>
<div class="row">
    <div class="col-md-4 offset-md-4">
        <label>Employee ID</label>
        <input type="text" name='id'[(ngModel)]="employee.id">
        <label>Employee Name</label>
        <input type="text" name='id'[(ngModel)]="employee.employeeName">
        <label>Angular Preficiency</label>
        <input type="text" name='id'[(ngModel)]="employee.angularProficiency">
        <button type="button" (click)="addEmployee()">Add Data</button>
    </div>
</div>