<div class="col-md-6 offset-md-3 mt-3">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
            <a routerLink="vatl1">
                <div class="card">
                    <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Viniston Arockiasamy</h5>
                        <p class="card-text text-dark">Eng. Manager</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a routerLink="">
                <div class="card">
                    <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Ashok Sahu</h5>
                        <p class="card-text text-dark">Head of Software Engineering- APAC</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a routerLink="">
                <div class="card">
                    <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Raghavendra Naik</h5>
                        <p class="card-text text-dark">Finance Manager</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a routerLink="">
                <div class="card">
                    <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Sunita Baruah</h5>
                        <p class="card-text text-dark">HR Manager</p>
                    </div>
                </div>
            </a>
        </div>
      </div>
</div>
<router-outlet></router-outlet>