<div class="row">
    <div class="col-md-6 mt-3">
        <div class="row row-cols-1 row-cols-md-6 g-1">
            <div class="col">
                <a routerLink="">
                    <div class="card">
                        <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Charan Reddy</h5>
                            <p class="card-text text-dark">Software Enginner 1</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a routerLink="">
                    <div class="card">
                        <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Raghu Vamshi Srimanthula</h5>
                            <p class="card-text text-dark">Software Engineer Test2</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a routerLink="level3">
                    <div class="card">
                        <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Raveendra Naik</h5>
                            <p class="card-text text-dark">Software Engineer</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a routerLink="">
                    <div class="card">
                        <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Shivam Vishvakarma</h5>
                            <p class="card-text text-dark">Software Engineer 1</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a routerLink="">
                    <div class="card">
                        <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Shubham Chauhan</h5>
                            <p class="card-text text-dark">Software Engineer</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a routerLink="">
                    <div class="card">
                        <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Vidya Chandrashekar</h5>
                            <p class="card-text text-dark">Software Engineer 3</p>
                        </div>
                    </div>
                </a>
            </div>
        </div> 
    </div>
</div>
<router-outlet></router-outlet>
