<div class="container">
    <mat-card class="example-card mat-elevation-z10">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Begining Java</mat-card-title>
          <mat-card-subtitle>Barry Burd</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://images-na.ssl-images-amazon.com/images/I/51c35ChyC8L._SX383_BO1,204,203,200_.jpg" alt="Photo of a Shiba Inu">
        <mat-card-actions>
          <button mat-raised-button color="primary">
            <mat-icon>add_shopping_cart</mat-icon>
        </button>
          <button mat-button>Details</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="example-card mat-elevation-z10">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Begining Java</mat-card-title>
          <mat-card-subtitle>Barry Burd</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://images-na.ssl-images-amazon.com/images/I/51c35ChyC8L._SX383_BO1,204,203,200_.jpg" alt="Photo of a Shiba Inu">
        <mat-card-actions>
            <button mat-raised-button color="primary">
                <mat-icon>add_shopping_cart</mat-icon>
            </button>
          <button mat-button>Details</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="example-card mat-elevation-z10">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Begining Java</mat-card-title>
          <mat-card-subtitle>Barry Burd</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://images-na.ssl-images-amazon.com/images/I/51c35ChyC8L._SX383_BO1,204,203,200_.jpg" alt="Photo of a Shiba Inu">
        <mat-card-actions>
            <button mat-raised-button color="primary">
                <mat-icon>add_shopping_cart</mat-icon>
            </button>
          <button mat-button>Details</button>
        </mat-card-actions>
    </mat-card>
</div>