<div class="col-md-3 mt-3">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
            <a routerLink="">
                <div class="card">
                    <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Kavya Shreedar</h5>
                        <p class="card-text text-dark">Technical Lead</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a routerLink="">
                <div class="card">
                    <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Naveen Kumar</h5>
                        <p class="card-text text-dark">Technical Lead</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a routerLink="">
                <div class="card">
                    <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Shivaraj Totigar</h5>
                        <p class="card-text text-dark">Technical Lead</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a routerLink="">
                <div class="card">
                    <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Sudeep Swaminathan</h5>
                        <p class="card-text text-dark">Technical Lead</p>
                    </div>
                </div>
            </a>
        </div>
      </div>
</div>
<router-outlet></router-outlet>
